.App {
    display: flex;
    justify-content: left;
}

.error {
    border: red 1px solid;
}

.errorMessage {
    color: red;
}

.isDone {
    opacity: 0.5;
    text-decoration: line-through;
}

/*.addFormCont {*/
/*    display: flex;*/
/*    height: 40px;*/
/*    width: 500px;*/
/*    background-color: #30cfd0;*/
/*}*/

.containerMain {
    margin:0 auto;
    padding: 0.1rem 2rem 2rem;
    /*max-width:500px;*/
    /*width: 300px;*/
    height: auto;
    color: white;
    box-shadow: 0 0 10px #eee;
    border-radius: 10px;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.container {
    margin:0 auto;
    padding: 0.1rem 2rem 2rem;
    max-width:500px;
    width: 300px;
    height: auto;
    color: white;
    /*box-shadow: 0 0 10px #eee;*/
    /*border-radius: 10px;*/
    /*background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);*/
}

.container h1 {
    text-align:center;
    font-weight:normal;
    font-size:2rem;
    letter-spacing:0.05em;
    border-bottom:1px solid rgba(255,255,255,.3);
}

.container h1 span {

    display:block;
    font-size:0.8rem;
    margin-bottom:0.7rem;
    margin-left:3px;
    margin-top:0.2rem;
}

.list{
    /*margin-top:2.6rem;*/
    list-style:none;
}

.title{
    height: 10px;
    display:flex;
    margin:0 -3px 4px;
    padding:1.1rem 1rem;
    justify-content:space-between;
    align-items:center;
    background:rgba(255,255,255,0.1);
}

.del_btn {
    border:none;
    background:none;
    -webkit-appearance:none;
    cursor:pointer;
    color:#FFF;
}

.btn {

    /*width: 90px;*/
    padding: 5px 5px;
    text-align: center;
    text-transform: uppercase;
    color: #330867;
    box-shadow: 0 0 10px #eee;
    border-radius: 5px;
    border: none;
    display: block;
}

.btn:hover {
    padding: 5px 5px;
    text-align: center;
    text-transform: uppercase;
    color: magenta;
    box-shadow: 0 0 10px #eee;
    /*border-radius: 5px;*/
}

.btnActive {
    background-color: aquamarine;
    padding: 5px 5px;
    text-align: center;
    text-transform: uppercase;
    color: #330867;
    box-shadow: 0 0 10px #eee;
    border-radius: 5px;
    border: none;
    display: block;
}

.btn_block{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    /*background-color: #16a085;*/
}